.*
*.log
*.so
*.dylib
*.o
*.opp
/venv
atdecc_api.*
src/atdecc_mod.*
__pycache__

*~
!.dockerignore
!.gitlab-ci.yml
!.gitmodules.gitlab
*#*#

*.deb
*.dsc
*.buildinfo
*.changes
*.substvars
*.tar.gz

*.egg-info
dist
