.*
*.log
*.so
*.dylib
*.o
*.opp
/venv
__pycache__

atdecc_api.*
src/atdecc_mod.*
src/atdecc/include
debian/changelog

*~
!.dockerignore
!.gitlab-ci.yml
!.gitmodules.gitlab
*#*#

*.deb
*.whl
*.dsc
*.buildinfo
*.changes
*.substvars
*.tar.gz

*.egg-info
dist
